@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #2fde49;
}

.container{
    width: 350px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.container .product{
    background: #990f0f;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.container .product .image{
    width: 300px;
    height: 150px;
    margin: auto;
}

.container .product .image .product-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.8s linear;
}

.container .product .color{
    display: flex;
    align-items:center ;
    justify-content: center;
    margin: 15px;
}

.container .product .color span{
    width: 15px;
    height: 15px;
    margin: 0 15px;
    border-radius: 50%;
    background: #431dd8;
    cursor: pointer;
    position: relative;
}

.container .product .color .green{
    background: #bd0e57;
}

.container .product .color .black{
    background: #0aa64e;
}

.container .product .color .red{
    background: #0d031c1e;
}

.container .product .color .orange{
    background: #0b59c6;
}

.container .product .color .active::after{
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #0b9f2b;
    position: absolute;
    left: -3px;
    top: -3px;
}

.container .product .title{
    font-size: 22px;
    text-align: center;
}

.container .product .detail{
    text-align: center;
}

.container .product .detail p{
    margin: 15px;
    font-size: 25px;
}

.container .product .detail p span{
    color: #DE522F;
}

.container .product .detail a{
    text-decoration: none;
    background: #4411a3;
    padding: 8px 45px;
    border-radius: 8px;
    color: rgb(125, 22, 22);
    margin: 15px;
}
